<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>userLogin</title>
  <link rel="stylesheet" th:href="@{/css/login_style.css}">
</head>
<body>
  <header>
    <p class="title">🍈 WELCOME 🍈</p>
    <h2>Login</h2>
  </header>
  
  <main>
    <form class="login-form" th:action="@{/account/login/process}" method="post">
    <div class="form">
      <label for="email"></label>
      <input type="text" name="userEmail" id="userEmail" placeholder="UserEmail" required>
    </div>
    <div class="form">
      <label for="password"></label>
      <input type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <div class="btn">
      <button class="btn" >ログイン</button>
    </div>
  </form>
 
  <div class="link">
    <a th:href="@{/account/register}">登録はこちら</a>
  </div>
  </main>
  <footer>
    <p><small>&copy;2024 new blog.J🥥 </small></p>
  </footer>
</body>
</html>