<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>userRegister</title>
  <link rel="stylesheet" th:href="@{/css/register_style.css}">

</head>

<body>
  <header>
    <p class="title">🥝 HELLO 🥝</p>
    <h2>Register</h2>
  </header>

  <main>
    <form class="register-form" th:action="@{/account/register/process}" method="post">
      <div class="form">
        <label for="name"></label>
        <input type="text" name="userName" id="userName" placeholder="UserName" required>
      </div>
      <div class="form">
        <label for="email"></label>
        <input type="text" name="userEmail" id="userEmail" placeholder="UserEmail" required>
      </div>
      <div class="form">
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Password" required>
      </div>

      <div class="btn">
        <button class="btn" >登録</button>
      </div>
    </form>
    
    <div class="link">
      <a href="/login/login.html">loginはこちら</a>
    </div>
  </main>
  <footer>
    <p><small>&copy;2024 new blog.J🥥  </small></p>
  </footer>

</body>

</html>